<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 控制台主页一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">订单相关</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3">
                                            <a lay-href="/index/order/create">
                                                <i class="layui-icon layui-icon-add-1"></i>
                                                <cite>创建订单</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/index/app/workorder">
                                                <i class="layui-icon layui-icon-file-b"></i>
                                                <cite>订单管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/index/order/renderRepeat">
                                                <i class="layui-icon layui-icon-refresh-1"></i>
                                                <cite>翻单</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/index/order/drawing">
                                                <i class="layui-icon layui-icon-picture"></i>
                                                <cite>图纸管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/index/review/renderIns">
                                                <i class="layui-icon layui-icon-add-circle"></i>
                                                <cite>创建评审单</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/index/review/renderSel">
                                                <i class="layui-icon layui-icon-survey"></i>
                                                <cite>评审单管理</cite>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">用户相关</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3" id="createUser">
                                            <a lay-href="/index/user/create">
                                                <i class="layui-icon layui-icon-add-circle"></i>
                                                <cite>创建用户</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3" id="editUser">
                                            <a lay-href="/index/user/manage">
                                                <i class="layui-icon layui-icon-user"></i>
                                                <cite>用户管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3" id="manageRights">
                                            <a lay-href="/index/user/renderRightsManage">
                                                <i class="layui-icon layui-icon-auz"></i>
                                                <cite>权限管理</cite>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js?t=1"></script>
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'console'],function () {
        var $ = layui.$;
        // if ('{$Think.session.permission}'<10){
        //     $('#createUser').addClass('layui-hide');
        //     $('#editUser').addClass('layui-hide');
        // }

    });
</script>
</body>
</html>
