<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">订单号</label>
                    <div class="layui-input-block">
                        <input id="order_id" type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button id="search" class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="LAY-app-order-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table class="layui-table" id="LAY-app-system-order" lay-filter="LAY-app-system-order"></table>
            <script type="text/html" id="progressTpl">
                <div class="layui-progress layuiadmin-order-progress" lay-filter="progress-" + {{ d.id }} +"" lay-showpercent="true">
                {{# if(d.progress == '100%'){ }}
                <div class="layui-progress-bar layui-inline" lay-percent={{d.progress}}></div>
                {{# }else{ }}
                <div class="layui-progress-bar layui-bg-blue" lay-percent={{d.progress}}></div>
                {{# } }}
                </div>
            </script>
            <script type="text/html" id="factory">
                {{# if(d.factory === 'A'){ }}
                <span>宇晗</span>
                {{# }else if(d.factory === 'B'){ }}
                <span>艾芯</span>
                {{# }else if(d.factory === 'C'){ }}
                <span>瑞研</span>
                {{# }else if(d.factory === 'D'){ }}
                <span>晟楠</span>
                {{# }else if(d.factory === 'Y'){ }}
                <span>宇扬</span>
                {{# } }}
            </script>
            <script type="text/html" id="current_roleTpl">
                {{# let str='{$Think.session.roles}'; }}
                {{# let arr=str.split(' '); }}
                {{# if (arr.indexOf(d.current_role)>-1){ }}
                <span style="color: red;font-weight: bold">*{{d.current_role}}</span>
                {{# }else{ }}
                <span>{{d.current_role}}</span>
                {{# } }}
            </script>
            <script type="text/html" id="order_typeTpl">
              {{# if(d.order_type === '翻单'){ }}
              <span style="color:#5FB878;">翻单</span>
              {{# } else if(d.order_type === '成品单'){ }}
              <span style="color:#01AAED;">成品单</span>
              {{# } else { }}
              <span style="color:#FF5722;">样品单</span>
              {{# } }}
            </script>
            <script type="text/html" id="table-system-order">
                <a class="layui-btn layui-btn-xs" lay-event="progress"><i
                        class="layui-icon layui-icon-release"></i>流程</a>
                <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="record"><i-->
                        <!--class="layui-icon layui-icon-form"></i>历史</a>-->
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="senior"><i
                        class="layui-icon layui-icon-senior"></i>高级</a>
            </script>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'workorder', 'table'], function () {
        var ws=new WebSocket('ws://192.168.0.56:8282');
        let $ = layui.$
            , form = layui.form
            , table = layui.table;

        // let timer=setInterval(function () {
        //     table.reload('LAY-app-system-order');
        // },30000);

        // 服务端主动推送消息时会触发这里的onmessage
        ws.onmessage = function(e){
            // json数据转换成js对象
            let data = eval("("+e.data+")");
            let type = data.type || '';
            switch(type){
                // Events.php中返回的init类型的消息，将client_id发给后台进行uid绑定
                case 'init':
                    // 利用jquery发起ajax请求，将client_id发给后端进行uid绑定
                    $.ajax({
                        url:'/index/socket/bind'
                        , data:{
                            'client_id':data.client_id
                        }
                        , type:'POST'
                        , dataType:'json'
                        , success:(res)=>{

                        }
                    });
                    break;
                case 'todo':
                    table.reload('LAY-app-system-order');
                    break;
                // 当mvc框架调用GatewayClient发消息时直接alert出来
                default :
                    layer.alert(e);
            }
        };

        $("#order_id").focus();
        $("#order_id").keydown(function (e) {
           if (e.keyCode === 13){
               $("#search").click();
           }
        });
        //监听搜索
        form.on('submit(LAY-app-order-search)', function (data) {
            var field = data.field;

            //执行重载
            table.reload('LAY-app-system-order', {
                where: field
                , page: {
                    curr: 1 //重新从第一页开始
                }
            });
        });

    });
</script>
</body>
</html>
