<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑订单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>
<form id="layuiadmin-form-order" class="layui-form" lay-filter="layuiadmin-form-order" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">订单编号</label>
            <div class="layui-input-inline">
                <input name="id" type="text" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">图纸编号</label>
            <div class="layui-input-inline">
                <input name="drawing_func_wires_num" type="text" class="layui-input my-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">BOM编号</label>
            <div class="layui-input-inline">
                <input name="bom_id" type="text" class="layui-input my-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">序列号</label>
            <div class="layui-input-inline" style="width: 150px">
                <input name="serial_start" type="text" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 150px">
                <input name="serial_end" type="text" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="color: #FF5722;">加工厂</label>
            <div class="layui-input-inline">
                <select id="factory" name="factory">
                    <option value="">--未选择--</option>
                    <option value="艾芯">艾芯</option>
                    <option value="晟楠">晟楠</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">本单T6号</label>
            <div class="layui-input-inline">
                <input name="this_t6" type="text" class="layui-input my-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">母单T6号</label>
            <div class="layui-input-inline">
                <input name="mother_t6" type="text" class="layui-input my-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">评审单编号</label>
            <div class="layui-input-inline">
                <input name="review_id" type="text" class="layui-input my-input" readonly>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">产品类型</label>
            <div class="layui-input-inline">
                <select name="pro_type" class="my-select" disabled>
                    <option value="电动车类应用">电动车类应用</option>
                    <option value="新产品应用">新产品应用</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">订单类型</label>
            <div class="layui-input-inline">
                <select name="order_type" class="my-select" lay-filter="orderType">
                    <option value="翻单">翻单</option>
                    <option value="成品单">成品单</option>
                    <option value="样品单">样品单</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">指定审核人</label>
            <div class="layui-input-inline">
                <select name="appoint_auditor" class="my-select">
                    <option value="项小成">项小成</option>
                    <option value="莫刚强">莫刚强</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">客户名</label>
        <div class="layui-input-block">
            <input lay-verify="required" type="text" name="customer" class="layui-input my-input"
                   placeholder="请输入准确的客户名">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">型号</label>
        <div class="layui-input-block">
            <input type="text" name="model" lay-verify="required" placeholder="型号" autocomplete="off"
                   class="layui-input my-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">业务员</label>
            <div class="layui-input-inline">
                <input lay-verify="required" type="text" name="salesman" class="layui-input my-input" placeholder="业务员">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">数量</label>
            <div class="layui-input-inline">
                <input type="number" name="quantity" lay-verify="required" placeholder="订单数量" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">交期</label>
            <div class="layui-input-inline">
                <input type="number" name="delivery" lay-verify="required" placeholder="交期" autocomplete="off"
                       class="layui-input my-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">外壳类型</label>
            <div class="layui-input-inline">
                <select id="shell_type" name="shell_type" class="my-select">

                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">外壳颜色</label>
            <div class="layui-input-inline">
                <select id="shell_color" name="shell_color" class="my-select">

                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">挡板类型</label>
            <div class="layui-input-inline">
                <select name="baffle" class="my-select">
                    <option value="无">无</option>
                    <option value="默认">默认</option>
                    <option value="无字">无字</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">MOS管</label>
            <div class="layui-input-inline">
                <select id="mos" name="mos" lay-verify="required" lay-search="" class="my-select">
                    <option value="">--未选择--</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">板卡</label>
            <div class="layui-input-inline">
                <select id="board" name="board" lay-verify="required" lay-search="" class="my-select">
                    <option value="">--未选择--</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">电机类型</label>
            <div class="layui-input-inline">
                <select lay-verify="required" name="elect_machine" class="my-select">
                    <option value="">--未选择--</option>
                    <option value="差速电机">差速电机</option>
                    <option value="轮毂电机">轮毂电机</option>
                    <option value="中置电机">中置电机</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">额定电压1</label>
            <div class="layui-input-inline">
                <input lay-verify="required" type="number" class="layui-input my-input" name="vol1" placeholder="额定电压1"
                       onkeyup="myMatch(this)">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">额定电流1</label>
            <div class="layui-input-inline">
                <input lay-verify="required" type="number" class="layui-input my-input" name="amp1" placeholder="额定电流1"
                       onkeyup="myMatch(this)">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">欠压值1</label>
            <div class="layui-input-inline">
                <input lay-verify="required" type="number" class="layui-input my-input" name="undervoltage1"
                       placeholder="欠压值1" onkeyup="myMatch(this)">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">额定电压2</label>
            <div class="layui-input-inline">
                <input type="number" class="layui-input my-input" name="vol2" placeholder="额定电压2"
                       onkeyup="myMatch(this)">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">额定电流2</label>
            <div class="layui-input-inline">
                <input type="number" class="layui-input my-input" name="amp2" placeholder="额定电流2"
                       onkeyup="myMatch(this)">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">欠压值2</label>
            <div class="layui-input-inline">
                <input type="number" class="layui-input my-input" name="undervoltage2" placeholder="欠压值2"
                       onkeyup="myMatch(this)">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">额定功率</label>
            <div class="layui-input-inline">
                <input lay-verify="required" type="number" class="layui-input my-input" name="power" placeholder="额定功率"
                       onkeyup="myMatch(this)">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">蓝牙</label>
            <div class="layui-input-inline">
                <select name="bluetooth" class="my-select">
                    <option value="无">无</option>
                    <option value="-X 无模块">-X 无模块</option>
                    <option value="-B 二代模块">-B 二代模块</option>
                    <option value="-B 三代模块">-B 三代模块</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">测试相序</label>
            <div class="layui-input-inline">
                <select name="phase" class="my-select">
                    <option value="宇扬公版">宇扬公版</option>
                    <option value="尤奈特">尤奈特</option>
                    <option value="巨杰">巨杰</option>
                    <option value="全顺">全顺</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">线束外露</label>
            <div class="layui-input-inline">
                <select lay-verify="required" name="length" class="my-select">
                    <option value="">--未选择--</option>
                    <option value="无">无</option>
                    <option value="15CM">15CM</option>
                    <option value="20CM">20CM</option>
                    <option value="25CM">25CM</option>
                    <option value="30CM">30CM</option>
                    <option value="35CM">35CM</option>
                    <option value="40CM">40CM</option>
                    <option value="45CM">45CM</option>
                    <option value="50CM">50CM</option>
                    <option value="55CM">55CM</option>
                    <option value="60CM">60CM</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label"><span class="nec">*</span>高温线径</label>
            <div class="layui-input-inline">
                <select lay-verify="required" name="diameter" class="my-select">
                    <option value="">--未选择--</option>
                    <option value="无">无</option>
                    <option value="2.5mm²">2.5mm²</option>
                    <option value="4mm²">4mm²</option>
                    <option value="6mm²">6mm²</option>
                    <option value="8mm²">8mm²</option>
                    <option value="10mm²">10mm²</option>
                    <option value="12mm²">12mm²</option>
                    <option value="16mm²">16mm²</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">线束标签</label>
            <div class="layui-input-inline">
                <select name="wire_label" class="my-select">
                    <option value="无">无</option>
                    <option value="接插件小标签">接插件小标签</option>
                    <option value="线束大标签">线束大标签</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">水冷</label>
            <div class="layui-input-inline">
                <input type="radio" name="is_water" value="1" title="是" class="my-select">
                <input type="radio" name="is_water" value="2" title="否" checked="" class="my-select">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">线束可拆装</label>
            <div class="layui-input-inline">
                <input type="radio" name="is_wire" value="1" title="是" class="my-select">
                <input type="radio" name="is_wire" value="2" title="否" checked="" class="my-select">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">外壳标签</label>
            <div class="layui-input-inline">
                <select name="shell_label" class="my-select">
                    <option value="无">无</option>
                    <option value="宇扬版本">宇扬版本</option>
                    <option value="客户版本">客户版本</option>
                    <option value="特定格式">特定格式</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label"><span class="nec">*</span>电阻R27</label>
            <div class="layui-input-inline">
                <select name="r27" lay-verify="required" class="my-select">
                    <option value="">--未选择--</option>
                    <option value="无">无</option>
                    <option value="100Ω/2W">100Ω/2W</option>
                    <option value="150Ω/3W">150Ω/3W</option>
                    <option value="300Ω/5W">300Ω/5W</option>
                    <option value="47Ω/1W">47Ω/1W</option>
                    <option value="22Ω/1W">22Ω/1W</option>
                    <option value="高压小板">高压小板</option>
                    <option value="2颗100Ω串联">2颗100Ω串联</option>
                    <option value="2颗150Ω串联">2颗150Ω串联</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label"><span class="nec">*</span>电阻R4</label>
            <div class="layui-input-inline">
                <select name="r4" lay-verify="required" class="my-select">
                    <option value="">--未选择--</option>
                    <option value="无">无</option>
                    <option value="120Ω/1W">120Ω/1W</option>
                    <option value="47Ω/1W">47Ω/1W</option>
                    <option value="22Ω/1W">22Ω/1W</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label"><span class="nec">*</span>大电解</label>
            <div class="layui-input-inline">
                <select name="electrolytic_capacitor" lay-verify="required" class="my-select">
                    <option value="">--未选择--</option>
                    <option value="470uF/63V">470uF/63V</option>
                    <option value="470uF/80V">470uF/80V</option>
                    <option value="1000uF/80V">1000uF/80V</option>
                    <option value="470uF/100V">470uF/100V</option>
                    <option value="1000uF/100V">1000uF/100V</option>
                    <option value="470uF/120V">470uF/120V</option>
                    <option value="470uF/160V">470uF/160V</option>
                    <option value="330uF/160V">330uF/160V</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">软件名</label>
        <div class="layui-input-block">
            <textarea name="software" class="layui-textarea my-input"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">常规功能</label>
        <div id="normal_func" class="layui-input-block">

        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">巡航</label>
            <div class="layui-input-inline">
                <select name="func_cruise" class="my-select">
                    <option value="无">无</option>
                    <option value="自动巡航">自动巡航</option>
                    <option value="手动巡航">手动巡航</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">软硬启</label>
            <div class="layui-input-inline">
                <select name="func_soft_hard" class="my-select">
                    <option value="无">无</option>
                    <option value="硬启动">硬启动</option>
                    <option value="软硬启可选">软硬启可选</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">三挡</label>
            <div class="layui-input-inline">
                <select name="func_gear" class="my-select">
                    <option value="无">无</option>
                    <option value="拨动三档">拨动三档</option>
                    <option value="点动三档">点动三档</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">特殊功能</label>
        <div id="special_func" class="layui-input-block">

        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">线束类型</label>
            <div class="layui-input-inline">
                <select name="wire_type" class="my-select">
                    <option value="宇扬标准">宇扬标准</option>
                    <option value="客户定制">客户定制</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">图纸编号</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input my-input" name="drawing_func_wires_num">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">线束</label>
            <div id="wires" class="layui-input-block">

            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">电机霍尔线</label>
            <div class="layui-input-inline">
                <select name="wire_holzer" class="my-select">
                    <option value="无">无</option>
                    <option value="普通">普通</option>
                    <option value="防水">防水</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">电门锁线</label>
            <div class="layui-input-inline">
                <select name="wire_elect_lock" id="wire_elect_lock" class="my-select">
                    <option value="无">无</option>
                    <option value="子弹头">子弹头</option>
                    <option value="圆片">圆片</option>
                    <option value="内接">内接</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">防盗线</label>
            <div class="layui-input-inline">
                <select name="wire_guard" id="wire_guard" class="my-select">
                    <option value="无">无</option>
                    <option value="3+2">3+2</option>
                    <option value="5芯">5芯</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">倒车</label>
            <div class="layui-input-inline">
                <select name="wire_reverse" id="wire_reverse" class="my-select">
                    <option value="无">无</option>
                    <option value="空挡倒车">空挡倒车</option>
                    <option value="倒车">倒车</option>
                    <option value="前进倒车">前进倒车</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">三挡</label>
            <div class="layui-input-inline">
                <select name="wire_gear" id="wire_gear" class="my-select">
                    <option value="无">无</option>
                    <option value="拨动三档">拨动三档</option>
                    <option value="点动三档">点动三档</option>
                    <option value="其他">其他</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">业务备注</label>
        <div class="layui-input-block">
            <textarea id="remark" name="remark" class="layui-textarea my-input">{$order.remark}</textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">研发备注</label>
        <div class="layui-input-block">
            <textarea name="remark_tech" class="layui-textarea my-input">{$order.remark_tech}</textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">生产备注</label>
        <div class="layui-input-block">
            <textarea name="remark_production" class="layui-textarea my-input">{$order.remark_production}</textarea>
        </div>
    </div>
    <div class="layui-form-item layui-layout-admin">
        <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
                <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="submit">保存</button>
                <button id="close" class="layui-btn layui-btn-primary">取消</button>
                <button id="print" class="layui-btn">打印页 <i class="layui-icon layui-icon-next"></i></button>
            </div>
        </div>
    </div>
</form>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script>
    // 只允许1位小数点
    function myMatch(e) {
        e.value = e.value.toString().match(/^\d+(?:\.\d{0,1})?/)
    }

    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        let form = layui.form
            , $ = layui.$
            , index = parent.layer.getFrameIndex(window.name);

        // 翻单禁用部分表单字段
        function setRepeat() {
            if ('{$order.order_type}' == '翻单') {
                $(".my-input").attr("readonly", "readonly");
                $(".my-select").attr("disabled", "disabled");
                form.render(null, 'layuiadmin-form-order');
            }
        }

        // 获取选项列表
        function getValues() {
            $.ajax({
                url: '/index/order/getOrderData?id={$order.id}',
                success: (res) => {
                    for (let i = 0; i < res.options.shell_type.length; i++) {
                        $("#shell_type").append("<option value='" + res.options.shell_type[i].value + "'>" + res.options.shell_type[i].text + "</option>");
                    }
                    for (let i = 0; i < res.options.shell_color.length; i++) {
                        $("#shell_color").append("<option value='" + res.options.shell_color[i].value + "'>" + res.options.shell_color[i].text + "</option>");
                    }
                    for (let i = 0; i < res.options.mos.length; i++) {
                        $("#mos").append("<option value='" + res.options.mos[i].value + "'>" + res.options.mos[i].text + "</option>");
                    }
                    for (let i = 0; i < res.options.board.length; i++) {
                        $("#board").append("<option value='" + res.options.board[i].value + "'>" + res.options.board[i].text + "</option>");
                    }
                    for (let i = 0; i < res.options.normal_func.length; i++) {
                        $("#normal_func").append("<input class='my-select' type='checkbox' name='normal_func' title='" + res.options.normal_func[i].text + "' value='" + res.options.normal_func[i].value + "'>");
                    }
                    for (let i = 0; i < res.options.special_func.length; i++) {
                        $("#special_func").append("<input class='my-select' type='checkbox' name='special_func' title='" + res.options.special_func[i].text + "' value='" + res.options.special_func[i].value + "'>");
                    }
                    for (let i = 0; i < res.options.wires.length; i++) {
                        $("#wires").append("<input class='my-select' type='checkbox' name='wires' title='" + res.options.wires[i].text + "' value='" + res.options.wires[i].value + "'>");
                    }

                    form.render(null, 'layuiadmin-form-order');

                    if (res.order.normal_func != "") {
                        let arr1 = res.order.normal_func.split(',');
                        $.each(arr1, function (i, item) {
                            $("input[name='normal_func'][value=" + item + "]").attr("checked", "checked")
                        })
                    }

                    if (res.order.special_func != "") {
                        let arr2 = res.order.special_func.split(',');
                        $.each(arr2, function (i, item) {
                            $("input[name='special_func'][value=" + item + "]").attr("checked", "checked")
                        })
                    }

                    if (res.order.wires != "") {
                        let arr3 = res.order.wires.split(',');
                        $.each(arr3, function (i, item) {
                            $("input[name='wires'][value=" + item + "]").attr("checked", "checked")
                        })
                    }

                    form.val("layuiadmin-form-order", {
                        "id": res.order.id
                        , "factory": res.order.factory
                        , "pro_type": res.order.pro_type
                        , "order_type": res.order.order_type
                        , "drawing_func_wires_num": res.order.drawing_func_wires_num
                        , "bom_id": res.order.bom_id
                        , "serial_start": res.order.serial_start
                        , "serial_end": res.order.serial_end
                        , "this_t6": res.order.this_t6
                        , "mother_t6": res.order.mother_t6
                        , "review_id": res.order.review_id
                        , "appoint_auditor": res.order.appoint_auditor
                        , "customer": res.order.customer
                        , "salesman": res.order.salesman
                        , "model": res.order.model
                        , "quantity": res.order.quantity
                        , "delivery": res.order.delivery
                        , "shell_type": res.order.shell_type
                        , "shell_color": res.order.shell_color
                        , "baffle": res.order.baffle
                        , "mos": res.order.mos
                        , "board": res.order.board
                        , "elect_machine": res.order.elect_machine
                        , "wire_label": res.order.wire_label
                        , "shell_label": res.order.shell_label
                        , "vol1": res.order.vol1
                        , "amp1": res.order.amp1
                        , "undervoltage1": res.order.undervoltage1
                        , "vol2": res.order.vol2
                        , "amp2": res.order.amp2
                        , "undervoltage2": res.order.undervoltage2
                        , "power": res.order.power
                        , "bluetooth": res.order.bluetooth
                        , "phase": res.order.phase
                        , "length": res.order.length
                        , "diameter": res.order.diameter
                        , "is_water": res.order.is_water
                        , "is_wire": res.order.is_wire
                        , "r27": res.order.r27
                        , "r4": res.order.r4
                        , "electrolytic_capacitor": res.order.electrolytic_capacitor
                        , "software": res.order.software
                        , "func_cruise": res.order.func_cruise
                        , "func_soft_hard": res.order.func_soft_hard
                        , "func_gear": res.order.func_gear
                        , "wire_type": res.order.wire_type
                        , "wire_holzer": res.order.wire_holzer
                        , "wire_elect_lock": res.order.wire_elect_lock
                        , "wire_guard": res.order.wire_guard
                        , "wire_reverse": res.order.wire_reverse
                        , "wire_gear": res.order.wire_gear
                        , "create_time": res.order.create_time
                        , "update_time": res.order.update_time
                    });

                    setRepeat();
                }
            })
        }

        setRepeat();
        getValues();

        form.on('submit(submit)', function (data) {
            $.ajax({
                url: '/index/order/canEdt'
                , data: {
                    'progress': '{$order.progress}'
                }
                , type: 'POST'
                , success: (res) => {
                    if (res) {
                        let field = data.field; //获取提交的字段

                        let arr1 = [];
                        let arr2 = [];
                        let arr3 = [];

                        $(":checkbox[name='normal_func']:checked").each(function () {
                            arr1.push($(this).val())
                        });
                        $(":checkbox[name='special_func']:checked").each(function () {
                            arr2.push($(this).val())
                        });
                        $(":checkbox[name='wires']:checked").each(function () {
                            arr3.push($(this).val())
                        });

                        let v1 = arr1.length > 0 ? arr1.join(',') : "";
                        let v2 = arr2.length > 0 ? arr2.join(',') : "";
                        let v3 = arr3.length > 0 ? arr3.join(',') : "";

                        field.normal_func = v1;
                        field.special_func = v2;
                        field.wires = v3;

                        $.ajax({
                            url: "/index/order/update"
                            , data: field
                            , type: 'POST'
                            , success: function (data) {
                                layer.msg(data.message);
                                parent.layui.table.reload('LAY-app-system-order'); //数据刷新
                            }
                        });
                    } else {
                        layer.msg('你当前无权更改', {icon: 2});
                    }
                }
            });

            // layer.close(index);
        });

        $("#close").click(function () {
            parent.layer.close(index);
        });

        $("#print").click(function () {
            window.open("/index/order/printPage?id={$order.id}", "_blank");
        });
    })
</script>
<style>
    .nec {
        color: red;
    }
</style>
</body>
</html>
