<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>宇扬OMS</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">

    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
    </script>
</head>
<body class="layui-layout-body">
<div class="my-notice layui-hide">
    <a>
        <i class="layui-icon layui-icon-notice" style="font-size: 30px"></i>
        <span id="todo" class="layui-badge layui-layout-right"></span>
    </a>
</div>
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
<!--                <button id="weChat">测试</button>-->
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--<input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">-->
                <!--</li>-->
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item">
                    <span class="layui-badge-rim layui-bg-cyan">{$Think.session.roles}</span>
                </li>

                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">{$Think.session.name}</a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="/index/user/info">基本资料</a></dd>
                        <dd><a lay-href="/index/user/info">修改密码</a></dd>
                        <hr>
                        <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--<a href="javascript:;" layadmin-event="note">-->
                <!--<i class="layui-icon layui-icon-note"></i>-->
                <!--</a>-->
                <!--</li>-->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <!--<a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>-->
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>OMS</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" lay-tips="主页" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="console" class="layui-this">
                                <a lay-href="home/console.html">控制台</a>
                            </dd>
                            <dd data-name="console">
                                <a lay-href="/index/user/info">个人资料</a>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="app" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="订单相关" lay-direction="2">
                            <i class="layui-icon layui-icon-form"></i>
                            <cite>订单相关</cite>
                        </a>
                        <dl class="layui-nav-child">

                            <dd data-name="create">
                                <a lay-href="/index/order/create">创建订单</a>
                            </dd>
                            <dd data-name="workorder" id="manage_order">
                                <a lay-href="/index/app/workorder">订单管理</a>
                            </dd>
                            <dd data-name="repeat" id="order_repeat">
                                <a lay-href="/index/order/renderRepeat">翻单</a>
                            </dd>
                            <dd data-name="drawing" id="manage_drawing">
                                <a lay-href="/index/order/drawing">图纸管理</a>
                            </dd>
                            <dd data-name="review-create">
                                <a lay-href="/index/review/renderIns">创建评审单</a>
                            </dd>
                            <dd data-name="review-manage">
                                <a lay-href="/index/review/renderSel">评审单管理</a>
                            </dd>
                            <dd data-name="order-recycle">
                                <a lay-href="/index/order/renderRecycle">订单回收站</a>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="app" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="用户相关" lay-direction="2">
                            <i class="layui-icon layui-icon-user"></i>
                            <cite>用户相关</cite>
                        </a>
                        <dl class="layui-nav-child">

                            <dd data-name="create_user" id="create_user">
                                <a lay-href="/index/user/create">创建用户</a>
                            </dd>
                            <dd data-name="edit_user" id="edit_user">
                                <a lay-href="/index/user/manage">用户管理</a>
                            </dd>
                            <dd data-name="edit_user" id="manage_rights">
                                <a lay-href="/index/user/renderRightsManage">权限管理</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="{:url('/index/home/console')}" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'util'], function () {
        // var ws = new WebSocket('ws://127.0.0.1:8282');  // 线下测试
        // var ws = new WebSocket('wss://oms.yuyangking.com:8282');  // 线上域名
        var ws = new WebSocket('wss://101.37.145.204:8282');  // 线上IP
        let util = layui.util
            , $ = layui.$
            , myTip = 1
            , todoNum = 0;

        function openMsg() {
            myTip = layer.tips("你有<span>" + todoNum + "</span>个待处理的订单，前往<a lay-href='/index/app/workorder' style='color: #01AAED'>订单管理</a>查看", '.my-notice', {
                tips: [3, '#FFB800']
                , time: 5000
            })
        }

        function getTodo() {
            $.ajax({
                url: '/index/order/sendMsg'
                , data: {
                    'uid': '{$Think.session.id}'
                }
                , type: 'POST'
            })
        }

        window.onload = reqNotify();

        // 服务端主动推送消息时会触发这里的onmessage
        ws.onmessage = function (e) {
            // json数据转换成js对象
            let data = eval("("  + e.data + ")");
            let type = data.type || '';
            switch (type) {
                // Events.php中返回的init类型的消息，将client_id发给后台进行uid绑定
                case 'init':
                    // 利用jquery发起ajax请求，将client_id发给后端进行uid绑定
                    $.ajax({
                        url: '/index/socket/bind'
                        , data: {
                            'client_id': data.client_id
                        }
                        , type: 'POST'
                        , dataType: 'json'
                        , success: (res) => {
                            getTodo();
                        }
                    });
                    break;
                case 'todo':
                    console.log(data);
                    console.log(todoNum);
                    if (todoNum != data.num){
                        $(".my-notice").hover(function () {
                            openMsg();
                        }, function () {

                        });
                        if (data.num > todoNum){
                            todoNum = data.num;
                            if (todoNum <= 0) {
                                $(".my-notice").addClass("layui-hide");
                            } else {
                                $("#todo").html(todoNum);
                                $(".my-notice").removeClass("layui-hide");
                                openMsg();
                                showNotification(todoNum,"todo");
                            }
                        } else {
                            todoNum = data.num;
                            if (todoNum <= 0) {
                                $(".my-notice").addClass("layui-hide");
                            } else {
                                $("#todo").html(todoNum);
                                $(".my-notice").removeClass("layui-hide");
                            }
                        }
                    }
                    break;
                // 当mvc框架调用GatewayClient发消息时直接alert出来
                default :
                    layer.alert(e);
            }
        };

        function showNotification(num,_tag) {
            // window.Notification.permission = "granted";
            // alert(window.Notification.permission);
            if (window.Notification) {
                if (window.Notification.permission == "granted") {
                    let notification = new Notification('你有一条新信息'
                        , {
                            dir: "ltr"
                            , lang: 'zh-CN'
                            , body: "你有" + num + "个订单待处理"
                            , tag: _tag
                            , icon: "/static/notify.ico"
                            , requireInteraction:true
                            , silent:true
                        });
                    notification.onshow=showAudio();
                    notification.onclick=function (e) {
                        window.focus();
                    }
                    // setTimeout(function () {
                    //     notification.close();
                    // }, 5000);
                } else {
                    reqNotify();
                }
            } else alert('你的浏览器不支持此消息提示功能，请使用chrome内核的浏览器！');
        }

        function reqNotify() {
            if (Notification.permission === 'granted') {
                console.log('用户允许通知');
            } else if (Notification.permission === 'denied') {
                console.log('用户拒绝通知');
            } else {
                console.log('用户还没选择，去向用户申请权限吧');
                Notification.requestPermission().then(permission => {
                    if (permission === 'granted') {
                        console.log('用户允许通知啦');

                    } else if (permission === 'denied') {
                        console.log('用户拒绝通知啦');
                    }
                })
            }
        }

        function showAudio()
        {
            // 创建音频上下文
            let audioCtx = new AudioContext();
            // 创建音调控制对象
            let oscillator = audioCtx.createOscillator();
            // 创建音量控制对象
            let gainNode = audioCtx.createGain();
            // 音调音量关联
            oscillator.connect(gainNode);
            // 音量和设备关联
            gainNode.connect(audioCtx.destination);
            // 音调类型指定为正弦波
            oscillator.type = 'sine';
            // 设置音调频率
            oscillator.frequency.value = 1500.00;
            // 先把当前音量设为0
            gainNode.gain.setValueAtTime(0, audioCtx.currentTime);
            // 0.01秒时间内音量从刚刚的0变成1，线性变化
            gainNode.gain.linearRampToValueAtTime(1, audioCtx.currentTime + 0.01);
            // 声音走起
            oscillator.start(audioCtx.currentTime);
            // 1秒时间内音量从刚刚的1变成0.001，指数变化
            gainNode.gain.exponentialRampToValueAtTime(0.001, audioCtx.currentTime + 1);
            // 1秒后停止声音
            oscillator.stop(audioCtx.currentTime + 1);
        }

        $("#test").click(function () {
            showNotification(5,"todo");
        });
    });
</script>

<!-- 百度统计 -->
<!--<script>-->
<!--    var _hmt = _hmt || [];-->
<!--    (function () {-->
<!--        var hm = document.createElement("script");-->
<!--        hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";-->
<!--        var s = document.getElementsByTagName("script")[0];-->
<!--        s.parentNode.insertBefore(hm, s);-->
<!--    })();-->
<!--</script>-->
</body>
<style>
    @keyframes blink {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @-webkit-keyframes blink /* Safari 与 Chrome */
    {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes colorChange {
        0% {
            background-color: #F0F0F0
        }
        100% {
            background-color: #FFB800
        }
    }

    @-webkit-keyframes colorChange /* Safari 与 Chrome */
    {
        0% {
            background-color: #F0F0F0
        }
        100% {
            background-color: #FFB800
        }
    }

    .my-notice {
        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        z-index: 9999;
        opacity: 1;
        /*margin: auto;*/
        border-radius: 25px;
        text-align: center;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 2%;
        background-color: #f2f2f2;

        animation-name: colorChange;
        animation-duration: 800ms;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        -webkit-animation-name: colorChange; /* Safari 与 Chrome */
        -webkit-animation-duration: 800ms; /* Safari 与 Chrome */
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: linear; /* Safari 与 Chrome */
        -webkit-animation-iteration-count: infinite; /* Safari 与 Chrome */
    }
</style>
</html>
