<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>图纸管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form">
                <div class="layui-form-item">
<!--                    <div class="layui-inline">-->
<!--                        <div class="layui-input-inline">-->
<!--                            <select name="" id="">-->
<!--                                <option value="">全部</option>-->
<!--                                <option value="">标准</option>-->
<!--                                <option value="">定制</option>-->
<!--                                <option value="">其他</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="layui-inline">
                        <label class="layui-form-label">图纸号</label>
                        <div class="layui-input-block">
                            <input id="dId" type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="search" class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="searchDrawing">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="drawing" lay-filter="drawing"></table>
            <div class="layui-btn-container" style="padding: 10px 0 0 0">
                <button type="button" class="layui-btn layui-btn-normal" id="insert">
                    <i class="layui-icon layui-icon-add-1"></i>
                    新增记录
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['upload', 'table','layer','form'], function () {
        var $ = layui.$
            , upload = layui.upload
            , table = layui.table
            , layer=layui.layer
            , form=layui.form;

        //新增记录
        $('#insert').click(function () {
            $.ajax({
               data:''
               ,url:'/index/drawing/insert'
               ,type:'POST'
               ,success:function (res) {
                    if (res.code === 2){
                        layer.msg(res.msg);
                    } else {
                        layer.msg(res.msg);
                        table.reload('drawing');
                    }
                }
            });
        });

        //渲染表格
        table.render({
            elem: '#drawing'
            , text:{
                none:'无数据'
            }
            , id:'drawing'
            , url: '/index/drawing/drawingList'
            , page: true
            , limit: 10
            , limits: [10, 20]
            , cols: [[
                {field: 'id', title: '编号', width: 60, fixed: 'left', align: 'center'}
                ,{field: 'name', title: '名称', width: 400, templet: '#drawingLink'}
                ,{field: 'update_time', title: '更新时间', width: 130, align: 'center'}
                ,{title:'操作', fixed: 'right', width: 150, align: 'center', toolbar: '#barDrawing'}
            ]]
        });

        //监听工具条
        table.on('tool(drawing)',function (obj) {
            var data=obj.data;
            var layEvent=obj.event;
            var tr=obj.tr;
            // console.log(data);

            //根据event对记录操作
            switch (layEvent){
                case 'edit':
                    layer.open({
                       type:2
                       , title:'编辑图纸'
                       , content:'/index/drawing/drawingedit?id='+data.id+'&address='+data.address
                       , area:['450px','450px']
                       , btn:['提交','取消']
                       , btnAlign:'c'
                       , yes:function (index,layero) {
                            table.reload('drawing');
                            layer.close(index);
                        }
                    });
                    break;
                case 'delRecord':
                    layer.confirm('文件和记录都将被删除',{icon:3,title:'警告'},function (index) {
                        // console.log(data);
                        $.ajax({
                            data:data
                            ,url:'/index/drawing/delRecord'
                            ,type:'POST'
                            ,success:function (res) {
                                layer.msg(res.msg);
                                table.reload('drawing');
                            }
                        });
                        layer.close(index);
                    });
                    break;
            }

        });

        $("#dId").focus();
        $("#dId").keydown(function (e) {
            if (e.keyCode === 13){
                $("#search").click();
            }
        });

        // 搜索
        form.on('submit(searchDrawing)', function (data) {
            let field = data.field;

            //执行重载
            table.reload('drawing', {
                where: field
                , page: {
                    curr: 1 //重新从第一页开始
                }
            });
        });
    })
</script>
<script type="text/html" id="drawingLink">
    <a href="{{d.address}}" target="_blank"><span style="color: #01AAED">{{d.name}}</span></a>
</script>
<script type="text/html" id="barDrawing">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delRecord">删除记录</a>
</script>
</body>
</html>
